* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /*      typography */

  /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */

  /* --fs-h1: 36px; */
  --fs-h1: 26px;
  --fs-h2: 34px;
  --fs-h3: 24px;

  --fs-p1: 18px;
  --fs-p2: 16px;
  

  --font-alfa: "Inter", sans-serif;

  --color-white: #ffff;
  --color-black: #000000;
  --color-dimWhite: #F5F5F5;
  --color-grey: #555A64;
  --color-ltGrey: #d5d5d5;
 
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;


  --time: 20s;
}

@media (min-width: 62em){
  :root {
    /* --fs-h1: 80px; */
    --fs-h1: 65px;
    --fs-h2: 44px;
    --fs-h3: 30px;
  
    --fs-p1: 20px;
    --fs-p2: 16px;
  }
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.p1 {
  font-size: var(--fs-p1);
}

.heading {
  font-size: var(--fs-h1);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  font-family: var(--font-alfa);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
